#board{
    height: 100vh;
    width: 100vw;
    background: url("assets/img/wallFlip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
#logoSec>img{
    width: 7vw;
    position: relative;
    top: 3vh;
    left: 20%;
}

#logoSec>h1{
    text-align: center;
    font-size: 3rem;
    color: #BD36A8;
    font-family: 'Gugi', cursive;
    margin: 0;
}

#logoSec{
    width: max-content;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
}

#score{
    width: 20vw;
    height: 15vw;
    background-color: #E372D8;
    position: absolute;
    top: 40vh;
    right: 0;
    margin: auto;
    border-radius: 25px;
    color: white;
    font-family: 'Gugi', cursive;
    display: none;

}


#score>h2,#score>h3{
    font-size: 2.5rem;
    position: absolute;
    top: 1vh;
    right: 0;
    left: 0;
    margin: auto;
    width: max-content;
    height: max-content;
}

#score>h3{
    top: 40%;
    font-size: 5rem;
}

#stars>img{
    width: 4vw;
    padding: 4px;
}

#stars{
    display: flex;
    justify-content: center;
    top: 83vh;
    right: 0;
    position: absolute;
    left: 0;
}

#panel{

    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: start;
    margin-left: 4vw;
}

#cardPanel{
    display: flex;
    flex-direction: column;
    height: 86vh;
    /* width: 100vh; */
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.cardRow {
    display: flex;
    width: 86vh;
    justify-content: space-between;
}

.cards{
    width: 20vh;
    height: 20vh;
    background-color: #BD36A8;
    border-radius: 15px;
    position: relative;
    box-shadow: 7px 5px 4px 0px #c64cb3;
    border: #a6a49f 4px solid;
}

.cards>img{
    width: 6vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.icon{
    display: none;
}

#result{
    position: relative;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 80vh;
    background-color: #efdcec;
    border-radius: 47px;
}

#result>img{

    width: 40vh;

}


#result>h1{
    text-align: center;
    font-family: 'Gugi';
    font-size: 5rem;


}

#panelBackground{
    /*background-color: #E4B6DD;
    border-radius: 15px;
    width: 45vw;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 13px 10px 5px 0px #9c9a9a;*/
}

#timer{
    background-color: #e2e2e2;
    height: 55.5vh;
    width: 3.5vw;
    border-radius: 61px;
    position: absolute;
    border: 8px #cac3c3 solid;
    top: 27vh;
    right: 0;
    left: 0;
    margin: auto;
}

#timer>div{/*
    background-color: #4fd2f4;*/
    background-color: #dd58fa;
    width: 38px;
    height: 53.2vh;
    border-radius: 61px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#fairyBoard{
    height: 92vh;
    padding-left: 6vw;

}