#board{
    height: 100vh;
    width: 100vw;
    background: url("assets/img/wallFlip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
#logoSec>img{
    width: 7vw;
    position: absolute;
    top: 18vh;
    left: 0;
    right: 0;
    margin: auto;
}

#panel{

    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: start;
    margin-left: 4vw;
}

#cardPanel{
    display: flex;
    flex-direction: column;
    height: 86vh;
    /* width: 100vh; */
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.cardRow {
    display: flex;
    width: 86vh;
    justify-content: space-between;
}

.cards{
    width: 20vh;
    height: 20vh;
    background-color: #BD36A8;
    border-radius: 15px;
    position: relative;
    box-shadow: 7px 5px 4px 0px #c64cb3;
    border: #a6a49f 4px solid;
}

.cards>img{
    width: 6vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.icon{
    display: none;
}

#result{
    position: absolute;
    width: 100%;
    border-radius: 45px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



#panelBackground {
 /*   background-color: #fcd8fc;
    border-radius: 15px;
    width: 43vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: end;
    box-shadow: 5px 5px 5px 0px #9c9a9a;*/
}

#timer{
    background-color: #e2e2e2;
    height: 55.5vh;
    width: 3.5vw;
    border-radius: 61px;
    position: absolute;
    border: 8px #cac3c3 solid;
    top: 32vh;
    right: 0;
    left: 0;
    margin: auto;
}

#timer>div{/*
    background-color: #4fd2f4;*/
    background-color: #dd58fa;
    width: 38px;
    height: 53.2vh;
    border-radius: 61px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#fairyBoard{
    height: 92vh;
    padding-left: 6vw;

}

#home,#replay,#back,#replayGameOver{
    background-color: #D3D3D3;
    color: white;
    font-family: 'Akshar', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    height: 9vh;
    border-radius: 39px;
    border: 5px solid #ADAAAA;
    width: 8vw;

}

#replay{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 76vh;
    z-index: 2;
}

#btnSec{
    position: absolute;
    top: 8vh;
    margin: auto;
    left: 0;
    right: 0;
    width: 17vw;
    display: flex;
    justify-content: space-between;

}


#Victory{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80vh;
    border-radius: 45px;

    z-index: 1;
}

#gameOver{
    border-radius: 35px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80vh;
    width: 40vw;
    background-color: #F5EAF3;
    box-shadow: 4px 4px 4px 0px #9c9a9a;

}

#gameOver>h1{
    font-family: 'Gugi', cursive;
    text-align: center;
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 59px;
    color: #F08ED5;
    font-weight: bolder;

}

#teddy{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
   bottom: 0;
    top: 0;
}


#replayGameOver{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 68vh;

}




