#loader{
    height: 100vh;
    width: 100vw;
    background: url("assets/img/wall.jpg") no-repeat;
    background-size: cover;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}