
#Main{
    height: 100vh;
    width: 100vw;
    background: url("assets/img/wall.jpg") no-repeat;
    background-size: cover;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

}
#Main h1{
    text-align: center;
    font-size: 5rem;
    color:#BD36A8;
    margin: auto;
    top: 30vh;
    left: 0;
    right: 0;
    position: absolute;
    font-family: 'Gugi', cursive;


}

#wings{
    margin: auto;
    top: 20vh;
    left: 0;
    right: 0;
    position: absolute;
    height: 12vh;
}

#fairy{
    position: absolute;
    left: 19vw;
    height: 57vh;
}

#Main button{
    background-color:#AAAAAA ;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    display: block;
    height: 7vh;
    border-radius: 13px;

}

#btnGroup{
    position: absolute;
    top: 50vh;
    margin: auto;

    left: 0;
    right: 0;
}