
#Main{
    height: 100vh;
    width: 100vw;
    background: url("assets/img/wall.jpg") no-repeat;
    background-size: cover;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;

}
#Main h1{
    text-align: center;
    font-size: 6rem;
    color: #BD36A8;
    margin: auto;
    top: 45vh;
    left: 0;
    right: 0;
    position: absolute;
    font-family: 'Gugi', cursive;


}

#wings{
    margin: auto;
    top: 30vh;
    left: 0;
    right: 0;
    position: absolute;
    height: 16vh;
}

#fairy{
    position: absolute;
    left: 15vw;
    height: 57vh;
}
#fairyR{
    position: absolute;
    Right: 15vw;
    height: 57vh;
}

#Main button{
    background-color: #D3D3D3;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    display: block;
    height: 11vh;
    border-radius: 39px;
    border: 7px solid #ADAAAA;
    width: 12vw;
    position: absolute;
    top: 65vh;
    margin: auto;
    left: 0;
    right: 0;

}


#house{
    position: absolute;
    bottom: -190px;
    right: -200px;
    width: 860px;
}