#Map {
    height: 100vh;
    width: 100vw;
    background: url("assets/img/wallFlip.jpg") no-repeat;
    background-size: cover;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;

}


#Map img, #Map h1 {
    width: 25vw;
    text-align: center;
    cursor: hand;
    color: #c9c9c9;
    font-family: 'Akshar', sans-serif;
    font-weight: bolder;
}

#Map > section >section {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

#Map>section{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#homeMap{
    background-color: #D3D3D3;
    color: white;
    font-family: 'Akshar', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    display: block;
    height: 9vh;
    border-radius: 39px;
    border: 5px solid #ADAAAA;
    width: 8vw;
    position: absolute;
    top: 5vh;
    margin: auto;
    left: 5vw;

}