#Map {
    height: 100vh;
    width: 100vw;
    background: url("assets/img/wallFlip.jpg") no-repeat;
    background-size: cover;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;

}


#fairyM{
    position: absolute;
    left: 10vw;
    height: 57vh;
}
#fairyRM{
    position: absolute;
    Right: 10vw;
    height: 57vh;
}

#MapBackground{
    position: absolute;
    top: 12vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30vw;
    height: 77vh;
    border-radius: 35px;
    background-color: #FFEAFA;
    box-shadow: 4px 4px 4px 0px #9c9a9a;
}



#cancel{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #FFCFCF;
    border: 5px solid #E48888;
    bottom: 4vh;
    width: 10vw;
}

#Map button{
    color: white;
    font-family: 'Akshar', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    display: block;
    height: 9vh;
    border-radius: 39px;
}

#MapBackground>section>button{
    background-color: #D3D3D3;
    border: 5px solid #ADAAAA;
    width: 18vw;
}

#MapBackground>section{
    position: absolute;
    left: 0;
    right: 0;
    top: 28vh;
    /* bottom: 0; */
    margin: auto;
    height: 30vh;
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: space-evenly;
}


#wingsM{
    margin: auto;
    top: 4vh;
    left: 0;
    right: 0;
    position: absolute;
    height: 12vh;
}

#Map h1{
    text-align: center;
    font-size: 4rem;
    color: #BD36A8;
    margin: auto;
    top: 13vh;
    left: 0;
    right: 0;
    position: absolute;
    font-family: 'Gugi', cursive;

}/*
#Map > section >section {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

#Map>section{
    display: flex;
    height: 82vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
}

#homeMap{
    background-color: #D3D3D3;
    color: white;
    font-family: 'Akshar', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    display: block;
    height: 9vh;
    border-radius: 39px;
    border: 5px solid #ADAAAA;
    width: 8vw;
    position: absolute;
    top: 5vh;
    margin: auto;
    left: 5vw;

}*/